  <header class="masthead" style="background-image: url('../img/categorySelected-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h2>{{categoria.nome}}</h2>
          </div>
        </div>
      </div>
    </div>
  </header>


<div class="container">

  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {{#each postagens}}
      <div class="post-preview">
        <a href="/postagem/{{slug}}">
          <h2 class="post-title">
            {{titulo}}
          </h2>
          <h5 class="post-subtitle">
            {{descricao}}
          </h5>
        </a>
      </div>
      <hr>
      {{else}}
      <h5>Nenhuma postagem</h5>
      {{/each}}
      <!-- Pager -->
    </div>
  </div>
</div>